@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Josefin Sans", serif;
}

.homepage-banner {
  background-image: url("/img/homepage-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 62vh;
}
/* Ensure SweetAlert2 is responsive */
.swal2-popup {
  width: 100% !important;
  max-width: 90vw; /* Make sure it doesn't overflow */
  box-sizing: border-box;
}

@media (max-width: 600px) {
  /* For smaller screens */
  .swal2-popup {
    max-width: 95vw;
    font-size: 14px; /* Adjust text size if needed */
  }
}

@media (max-width: 400px) {
  /* For very small screens */
  .swal2-popup {
    max-width: 55vw;
    font-size: 10px; /* Smaller font for better readability */
  }
}
